/* Estilos para a roleta de imagens */
.image-roulette {
    text-align: center;
    position: relative;
  }
  
  .image-roulette-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .image-roulette-track {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .image-roulette-item {
    flex: 0 0 100%;
  }
  
  .image-roulette-item img {
    width: 100%;
    height: auto;
  }
  
  .image-roulette-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  .prev-button,
  .next-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .image-indicators {
    display: inline-block;
  }
  
  /* Estilos para os pontos de índice */
  .image-indicators .indicator {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .image-indicators .active {
    background-color: #333;
  }
  